<% provide :title, t(".title") %>
<h1><%= t "footer.contact" %></h1>
<p>
  <%= t ".Contact_the_Ruby_on_Rails_Tutorial_about_the_sample_app_at_the" %>
  <a href="http://www.railstutorial.org/contact"><%= t ".contact_page" %></a>.
</p>
